* {
  margin: 0;
  box-sizing:border-box;
}

#header img {
  width: 80px;
}
.ph{
    padding-top: 5rem;
}
.nav-link:hover{
    font-weight: 700;
}
footer {
  background-color: black;
  color: white;
}
#footer a {
  color: white;
}
a {
  text-decoration: none !important;
}